.line{
    height: 8px;
    width: 30%;
    background-color: rgb(55, 166, 176);
    margin: auto;
}
body{
    text-align: center;
    color: teal;
    background-color: violet;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}